<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center" id="col_hdr">
      <h1>Eat-da-burger!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 text-center" id="col_bdy">
      {{#each burgers}}
        {{#unless this.devoured}}
          <div class="col-xs-9 text-center">
            <pre>{{this.id}}. {{this.burger_name}}</pre>
          </div>
          <div class="col-xs-3 text-center">
            <form>
              <input class="form-control" type="hidden" type="text" name="burger_id" value={{this.id}}>
              <br>
              <button class="devour" class="btn btn-default" value={{this.id}}>Devour it!</button>
            </form>
          </div>
        {{/unless}}
      {{/each}}
    </div>

    <br><br>

    <div class="col-xs-6 text-center" id="col_bdy">
      {{#each burgers}}
        {{#if this.devoured}}
          <div class="col-xs-9 text-center">
            <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
            <br>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-xs-12 text-center enter-section">
      <form class="create-form">
        <input class="form-control" type="text" name="burger_name" id="name" value="">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <p>Enter in a burger you would like to eat!</p>
    </div>
  </div>
</div>
