<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center" id="col_hdr">
      <h2>Eat-da-burger!</h2>
      <img src="/assets/img/burger.png" alt="Eat-da-burger" style="width: 70%; height: 70%">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 text-center" id="col_bdy">
      {{#each burgers}}
        {{#unless this.devoured}}
          <div class="col-xs-9 text-center">
            <h5><pre>{{this.id}}. {{this.burger_name}}</pre></h5>
          </div>
          <div class="col-xs-3 text-center">
            <form>
              <input class="form-control" type="hidden" type="text" id="burger_id">
              <button class="devour" class="btn btn-default" value={{this.id}}>Devour it!</button>
            </form>
          </div>
        {{/unless}}
      {{/each}}
    </div>
    <br>
    <div class="col-xs-6 text-center" id="col_bdy">
      {{#each burgers}}
        {{#if this.devoured}}
          <div class="col-xs-9 text-center">
            <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
            <br>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 text-center enter-section">
      <form class="create-form">
        <input class="form-control" type="text" id="burger_name">
        <br>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      </form>
      <p>Enter in a burger you would like to eat!</p>
    </div>
  </div>
</div>
